<h1>Registrar usuario</h1>
<form action="/register" method="post" id="formLogIn">
    <div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="username" name="username">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="password" name="password">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="nombre" name="user">
    </div><div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="dirección" name="adress">
    </div><div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput" type="tel" placeholder="teléfono" name="number">
    </div><div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="edad" name="age">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="foto" name="photo">
    </div>
    <button class="btn btn-dark">Enviar</button>
</form>
<a class="btn btn-primary" href="/login" role="button">Log In</a>